<h1> My Albums </h1>
<body>
<% if @my_albums.any?%>
<% @my_albums.each do |album| %>
  <% unless album.images.blank? %>
     <%= link_to image_tag(album.images.first.photo.url(:thumb)), album %>
  <% else %>
    Empty Album<br><br>
  <% end %>
<br>

  <small><%= link_to album.album_title, album %></small> | 
  <span style ="color:green">
    <%= link_to album.images.count, album %> Images.
  </span>
  <small> | <%= album.user.full_name %></small><br>
    you have <b style ="color:blue"><%= album.images.find_all_by_user_id(current_user).count %></b> images in this album , you can only upload 
             <b style="color:green"><%= 25-(album.images.find_all_by_user_id(current_user).count)  %></b> more images.


<hr>
<% end %>
<% else %>
  <b> Empty ? <%= link_to 'create an album', new_album_path %></b>
<% end %>
</body>
<br><br><br><%= button_to 'New Album', new_album_path, :method=>"get" %>
