
<p>
 <% if @image.photo.exists? then %>
   <%= image_tag @image.photo.url(:large) %>
<% end %>
</p>
<p>
  <b>Tag line:</b>
  <%= @image.tag_line %>
</p>

<p>
  <b>Owner:</b>
  <%= @image.user.full_name %>
</p>


<% if user_signed_in? %><%= link_to 'Edit', edit_image_path(@image) %> |<% end %>
<%= link_to 'Back to album', album_path(@image.album) %>
